.col-md-15 {
width: 1178px;
    float: left;
    left: -407px;
    padding-top: 17px;
    position: relative;
    padding-bottom: 0px;
}
/***standings panels***/
img.teamLogo {
    position: relative;
    left: -2px;
}
.panel-afc > .panel-heading, .panel-afc > .panel-footer, afc1 
 {    color: #fff;
    border-color: rgba(137, 23, 26, 0);
    border-radius: 0;
    margin-bottom: -10px;
    margin-top: 15px;
    padding-top: 4px;
    height: 36px;
    text-transform: uppercase;
    background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png), -webkit-linear-gradient(top, rgb(206, 0, 0), rgba(185, 0, 0, 0.55));
    background-repeat: repeat, repeat;
    background-size: auto, contain;
    background-position: 0px 0px, 0px 0px;
    background-color: rgba(255, 255, 255, 0);
}
.panel-nfc > .panel-heading, .panel-nfc > .panel-footer, nfc1 {
     color: #fff;
    border-color: rgba(137, 23, 26, 0);
    border-radius: 0;
    margin-bottom: -10px;
    margin-top: 15px;
    padding-top: 4px;
    height: 36px;
    text-transform: uppercase;
    background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png), -webkit-linear-gradient(top, rgb(12, 0, 218), rgba(9, 14, 200, 0.37));
    background-repeat: repeat, repeat;
    background-size: auto, contain;
    background-position: 0px 0px, 0px 0px;
    background-color: rgba(255, 255, 255, 0);
}
/***tables***/
.data-table1 th, table.data-table1 td {
 font-size: 16px;
}
td.bubble {
    background: #323b44 none repeat scroll 0 0!important;
    border: medium none!important;
    color: #fff!important;
    text-align: center;
}
table.data-table1 .thd2 td {
    background-color: #ef4733;
    color: #fff; text-align: left;
}
table.data-table1 tr:nth-child(odd):hover, table.data-table1 tr:hover {
    background-color: rgba(245, 245, 245, 0.14);
}
table.data-table1 tr:nth-child(odd) {
    background-color: rgba(242, 242, 242, 0.05);
}
.data-table1 td.tbdy1, table.data-table1 .tbdy1 td {
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px dotted rgba(221, 221, 221, 0.12);
    color: #d0d0d0;
}
/***potw***/
.pow-player-logo img {
    width: 134%;
    position: relative;
    top: -58px;
    left: 72px;
}
.pow-player-logo {
    width: 276px!important;
    height: 203px!important;
    margin-top: -25px;
    margin-left: -68px;
}
.playeroftheweek {        margin: 0;
    margin-top: 0px;
    top: -82px;
    left: -86px;
    border-left: solid 40px #363d45;
    background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://fs1.directupload.net/images/150831/ws2ylmkq.jpg);
    position: relative;
    height: 262px;
    width: 586px;
    margin-left: 41%;
    overflow: hidden;
    background-repeat: repeat, no-repeat;
    background-size: 6px, 100%;
    background-position: 0px 0px, 0px 0px;
    background-color: rgba(255, 255, 255, 0);
}
.panel-player { width:35%; display:block; float:left; background: transparent; border:none; box-shadow:none; margin-bottom:0;}
.panel-player a { color:inherit;}
.panel-player .panel-heading {      background: -webkit-linear-gradient(#ef4733, #a83a30);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    padding-top: 4px;
    font-size: 38px;
    font-style: italic;
    position: relative;
    top: 276px;
    LETTER-SPACING: -.01em;
    height: 49px;
    width: 271px;
    line-height: 38px;
    z-index: 105;
    right: 2px;
    text-align: right;
    padding-right: 9px;
    padding-bottom: 0px;
}
.panel.panel-hh.nopad.potw {
    height: 199px;
    overflow: hidden; width: 582px;
}
.panel-player .panel-body { margin:5px; padding:5px; background:none; margin-top:0; padding-top:0;}
.panel-player .avatar .panel-player .avatar {
  width: 167px;
  height: 167px;
  position: relative;
  border-radius: 5px;
}
.panel-player .avatar img {       width: 90%;
    position: absolute;
    bottom: 0;
    left: -78px;
    top: -48px;
    z-index: 0;
    border-radius: 5px;
    display: block;
    float: left;
    height: 256px;
    overflow: hidden;
    margin: 10px;
}
.panel-player .avatar img.teamLogo {
    position: absolute;
    top: 194px;
    background-color: rgba(255, 255, 255, 0.01);
    left: -9px;
    height: 27%;
    z-index: 118;
    width: 15%;
}

div#dplayeroftheweek-container {
    margin-bottom: 0px;
}
.panel-player .playeroftheweek-name {           text-transform: uppercase;
    color: #ffffff;
    font-size: 70px;
    position: absolute;
    top: 60px;
    height: 21%;
    z-index: 6;
    left: 334px;
    width: 162px;
    text-align: right;
}
.panel-player .text .stat-value {    letter-spacing: 0px;
    margin-bottom: 0;
    position: absolute;
    color: #9c9c9c;
    top: -32px;
    text-align: right;
    left: 296px;
    z-index: 6;
    line-height: 10px;
    width: 70%;
    font-size: 20px;
}
.playeroftheweek-name, .playeroftheweek-name a {
color: #9c9c9c;
    font-size: 23px;
    font-weight: 700;
    line-height: 37px;
}
.panel-player .text {          background-color: transparent;
    height: 55px;
    width: 282px;
    left: 0px;
    top: 208px;
    z-index: 1;
    position: absolute;
    overflow: visible;
}
.panel-player .text { padding: 0px 10px;}

.panel-heading {
  padding: 0px 75px;
  border-bottom: 1px solid rgba(247, 9, 9, 0);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
div#potw {          position: relative;
    top: -27px;
    right: 0px;
    background-color: white;
    height: 228px;
    overflow: hidden;
}
.panel-hh.potw>.panel-body {      position: relative;
    background: transparent;
    padding-top: 0px;
}
.panel-body {
    padding: 0px;
}
.pow-team-logo {        width: 388px;
    margin: -244px 237px 0;
    float: right;
}
/***gow***/
.away-team.team {    position: absolute;
    text-transform: uppercase;
    font-size: 19px;
    top: 107px;
    left: 218px;
    padding-top: 2px;
    text-align: right;
    letter-spacing: .9em;
    text-shadow: 0px 1px 1px black;
    width: 300px;
    margin-left: 4%;
    height: 31px;
    color: rgb(255, 255, 255);
    overflow: hidden;
    padding-right: 1px;
    z-index: 1;
}
.gowh {
    background-size: 75%, 100%, 73%;
    background-position: 148px 0px, -280px 0px, 0px 2px;
    background-repeat: no-repeat;
    width: 589px;
    font-size: 100px;
    position: absolute;
    text-align: left;
    padding-left: 100px;
    height: 166px;
    text-transform: uppercase;
    right: 0px;
    top: 66px;
    padding-top: 83px;
    color: #ffffff;
    text-shadow: 0px 3px 6px #000000;
    overflow: hidden;
}
.gowa {      background-size: 75%, 100%, 73%;
    background-position: 0px 0px, 12px 1px, 213px 2px;
    background-repeat: no-repeat;
    width: 589px;
    font-size: 100px;
    position: absolute;
    text-align: right;
    padding-right: 100px;
    height: 166px;
    text-transform: uppercase;
    left: 0px;
    top: 66px;
    padding-top: 83px;
    color: #ffffff;
    text-shadow: 0px 3px 6px #000000;
    overflow: hidden;
}
.align-right.clickable.ng-scope span.score.ng-binding {
      TOP: 116PX;
    left: 484px;
}
.clickable ng-scope, span.score.ng-binding {
    TOP: 116PX;
    left: -19px;
}
.team {
    font-size: 16px;
    text-shadow: 0px 1px 6px black;
}
.record {
    color: #ffd600;
    text-shadow: 0px 2px 11px #000000;
    position: relative;
    top: -43px;
    z-index: 1;
    right: -63px;
    padding-left: 1px;
    letter-spacing: .1em;
    text-align: left;
    font-size: 16px;
}
div#gameoftheweek-container {
    margin-bottom: 0%;
}
.gameoftheweek .cfm-table tr td .score {     color: #fff;
    font-size: 50px;
    z-index: 1;
    line-height: 45px;
    text-shadow: 0px 3px 10px #000000;
}
.align-right.clickable.ng-scope .record {
    color: #ffd600;
    text-shadow: 0px 2px 11px #000000;
    position: relative;
    top: -43px;
    z-index: 1;
    left: -4px;
    padding-left: 1px;
    letter-spacing: .1em;
    text-align: right;
    font-size: 16px;
}
span.score.ng-binding {
    position: absolute;
    width: 100px;
    height: 33px;
    text-align: center;
}
.gameoftheweek {
    width: 100%;
    height: 170px;
    overflow: hidden;
    line-height: 30px;
    border-bottom: 0px solid #ffffff;
    background: rgba(255, 255, 255, 0) url(.);
}
span.home.use {
    top: 37px;
    z-index: 69;
    left: 595px;
    width: 300px;
    height: 58px;
    display: block;
    letter-spacing: .09em;
    background-image: url(http://findicons.com/files/icons/1254/flurry_system/256/users.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 7%;
    background-position: 0px 34px;
    FONT-SIZE: 19PX;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    padding-top: 30px;
    padding-left: 25px;
    color: #f4feff;
    text-shadow: 0px 1px 6px #4ed2e6;
    animation: slide-in-right 2600ms ease-out;
}
span.away.use {
    top: 37px;
    z-index: 69;
    left: 289px;
    width: 300px;
    height: 58px;
    display: block;
    letter-spacing: .09em;
    background-image: url(http://findicons.com/files/icons/1254/flurry_system/256/users.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 7%;
    background-position: 271px 34px;
    FONT-SIZE: 19PX;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    padding-top: 30px;
    padding-right: 35px;
    color: #f4feff;
    text-shadow: 0px 1px 6px #4ed2e6;
    animation: slide-in-right 2600ms ease-out;
}
span.use {    top: -36px;
    z-index: 69;
    left: -6px;
    width: 421px;
    height: 58px;
    display: block;
    letter-spacing: .09em;
    background-image: url('http://findicons.com/files/icons/1254/flurry_system/256/users.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 5%;
    background-position: 384px 35px;
    FONT-SIZE: 15PX;
    text-transform: uppercase;
    text-align: right;
    position: relative;
    font-style: italic;
    padding-top: 30px;
    padding-right: 41px;
    color: #f4feff;
    text-shadow: 0px 1px 6px #4ed2e6;
    animation: slide-in-right 2600ms ease-out;
}
.home.team {
    border-bottom: solid 1px white;
    position: absolute;
    width: 356px;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 1em;
    text-align: left;
    right: 126px;
    top: 91px;
}
.away.team{        border-bottom: solid 1px white;
    position: absolute;
    width: 356px;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 1em;
    text-align: right;
    left: 126px;
    top: 91px;
}
.gameoftheweek .cfm-table tr td.cfm-at {       width: 66px;
    background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/game-details-at.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    position: absolute;
    left: 558px;
    top: 134px;
}

/***gow  away and home team images***/
span.ari-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/cardinals.png),linear-gradient(-90deg, #88142e, rgba(0, 0, 0, 0)), url(https://blog-blogmediainc.netdna-ssl.com/upload/SportsBlogcom/7134717/0490979001449583941_filepicker.jpg);
}
span.ari{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/cardinals.png),linear-gradient(-90deg, #88142e, rgba(0, 0, 0, 0)), url(https://blog-blogmediainc.netdna-ssl.com/upload/SportsBlogcom/7134717/0490979001449583941_filepicker.jpg);
}

span.sf-away {
 background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/49ers.png),linear-gradient(-90deg, #af1e37, rgba(0, 0, 0, 0)), url(http://www2.pictures.zimbio.com/gi/San+Francisco+49ers+v+Seattle+Seahawks+-7IlzRmub6yl.jpg);
}
span.sf{
 background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/49ers.png),linear-gradient(-90deg, #af1e37, rgba(0, 0, 0, 0)), url(http://www2.pictures.zimbio.com/gi/San+Francisco+49ers+v+Seattle+Seahawks+-7IlzRmub6yl.jpg);
}

span.chi-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/bears.png),linear-gradient(-90deg, #1a243a, rgba(0, 0, 0, 0)),
url( http://cdn.fansided.com/wp-content/blogs.dir/60/files/2012/09/2458-bears_tunnel_Chris_Sweda__Tribune.jpg);
}
span.chi{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/bears.png),linear-gradient(-90deg, #1a243a, rgba(0, 0, 0, 0)),
url( http://cdn.fansided.com/wp-content/blogs.dir/60/files/2012/09/2458-bears_tunnel_Chris_Sweda__Tribune.jpg);
}

span.cin-away {
      background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/bengals.png),linear-gradient(-90deg, #f15c43, rgba(0, 0, 0, 0)), url(http://nflfemale.com/wp-content/uploads/2016/01/Postseason-coming-out-of-tunnel.jpe);
}
span.cin {
      background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/bengals.png),linear-gradient(-90deg, #f15c43, rgba(0, 0, 0, 0)), url(http://nflfemale.com/wp-content/uploads/2016/01/Postseason-coming-out-of-tunnel.jpe);
}

span.buf-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/bills.png),linear-gradient(-90deg, #a21c20, rgba(0, 0, 0, 0)),
url(http://cdn.fansided.com/wp-content/blogs.dir/16/files/2013/09/buffalo-bills-robert-woods-ej-manuel.jpg );
}
span.buf{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/bills.png),linear-gradient(-90deg, #a21c20, rgba(0, 0, 0, 0)),
url(http://cdn.fansided.com/wp-content/blogs.dir/16/files/2013/09/buffalo-bills-robert-woods-ej-manuel.jpg );
}

span.den-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/broncos.png),linear-gradient(-90deg, #c74e10, rgba(0, 0, 0, 0)),
url(http://cbssports.com/images/blogs/eof-superbowl-pic2.jpg );
}
span.den{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/broncos.png),linear-gradient(-90deg, #c74e10, rgba(0, 0, 0, 0)),
url(http://cbssports.com/images/blogs/eof-superbowl-pic2.jpg );
}

span.cle-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/browns.png),linear-gradient(-90deg, #ee4230, rgba(0, 0, 0, 0)),
url( http://media.gettyimages.com/photos/members-of-the-cleveland-browns-runs-out-of-the-tunnel-prior-to-a-picture-id490764600);
}
span.cle{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/browns.png),linear-gradient(-90deg, #ee4230, rgba(0, 0, 0, 0)),
url( http://media.gettyimages.com/photos/members-of-the-cleveland-browns-runs-out-of-the-tunnel-prior-to-a-picture-id490764600);
}

span.tb-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/buccaneers.png),linear-gradient(-90deg, #c62027, rgba(0, 0, 0, 0)),
url( http://cdn.fansided.com/wp-content/blogs.dir/229/files/2013/07/6906496.jpg);
}
span.tb {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/buccaneers.png),linear-gradient(-90deg, #c62027, rgba(0, 0, 0, 0)),
url( http://cdn.fansided.com/wp-content/blogs.dir/229/files/2013/07/6906496.jpg);
}

span.sd-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/chargers.png),linear-gradient(-90deg, #deae28, rgba(0, 0, 0, 0)),
url(https://sidelinechamp.files.wordpress.com/2015/11/chargers-top-10-feature-pic.jpg );
}
span.sd {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/chargers.png),linear-gradient(-90deg, #deae28, rgba(0, 0, 0, 0)),
url(https://sidelinechamp.files.wordpress.com/2015/11/chargers-top-10-feature-pic.jpg );
}

span.kc-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/chiefs.png),linear-gradient(-90deg, #e0e0e0, rgba(0, 0, 0, 0)),
url(https://s-media-cache-ak0.pinimg.com/736x/99/cd/42/99cd4250d4982ec5cecb907af0d11962.jpg );
}
span.kc{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/chiefs.png),linear-gradient(-90deg, #e0e0e0, rgba(0, 0, 0, 0)),
url(https://s-media-cache-ak0.pinimg.com/736x/99/cd/42/99cd4250d4982ec5cecb907af0d11962.jpg );
}

span.ind-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/colts.png),linear-gradient(-90deg, #e4e4e4, rgba(0, 0, 0, 0)),
url(http://horseshoeheroes.com/files/2015/09/andrew-luck-nfl-preseason-chicago-bears-indianapolis-colts3.jpg );
}
span.ind{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/colts.png),linear-gradient(-90deg, #e4e4e4, rgba(0, 0, 0, 0)),
url(http://horseshoeheroes.com/files/2015/09/andrew-luck-nfl-preseason-chicago-bears-indianapolis-colts3.jpg );
}

span.dal-away {    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/cowboys.png),linear-gradient(-90deg, rgba(125, 129, 134, 0.25), rgb(18, 37, 75)), url(https://theboysareback.files.wordpress.com/2013/09/2013-2014-dallas-cowboys-players-in-the-tunnel-prior-to-the-game-against-the-san-diego-chargers_.jpg?w=640&h=454 );
}
span.dal{    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/cowboys.png),linear-gradient(-90deg, rgba(125, 129, 134, 0.25), rgb(18, 37, 75)), url(https://theboysareback.files.wordpress.com/2013/09/2013-2014-dallas-cowboys-players-in-the-tunnel-prior-to-the-game-against-the-san-diego-chargers_.jpg?w=640&h=454 );
}

span.mia-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/dolphins.png),linear-gradient(-90deg, #d57128, rgba(0, 0, 0, 0)),
url( https://cmgpbpdailydolphin.files.wordpress.com/2015/12/120615-spt-dolphins-ae-35.jpg);
}
span.mia{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/dolphins.png),linear-gradient(-90deg, #d57128, rgba(0, 0, 0, 0)),
url( https://cmgpbpdailydolphin.files.wordpress.com/2015/12/120615-spt-dolphins-ae-35.jpg);
}

span.phi-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/eagles.png),linear-gradient(-90deg, #000000, rgba(0, 0, 0, 0)),
url(http://cdn.fansided.com/wp-content/blogs.dir/229/files/2013/09/6880264.jpg );}
span.phi{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/eagles.png),linear-gradient(-90deg, #000000, rgba(0, 0, 0, 0)),
url(http://cdn.fansided.com/wp-content/blogs.dir/229/files/2013/09/6880264.jpg );}

span.atl-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/falcons.png),linear-gradient(-90deg, #000000, rgba(0, 0, 0, 0)),
url(http://prod.static.redskins.clubs.nfl.com/assets/images/imported/WAS/centerpieces/2013-Centerpieces/landing-page-centerpieces/enemy-content/Falcons_tunnel.jpg );}
span.atl{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/falcons.png),linear-gradient(-90deg, #000000, rgba(0, 0, 0, 0)),
url(http://prod.static.redskins.clubs.nfl.com/assets/images/imported/WAS/centerpieces/2013-Centerpieces/landing-page-centerpieces/enemy-content/Falcons_tunnel.jpg );}

span.nyg-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/giants.png),linear-gradient(-90deg, #b42e2e, rgba(0, 0, 0, 0)),
url(http://www1.pictures.zimbio.com/gi/New+York+Giants+v+Washington+Redskins+NyI0Kfg34THl.jpg );}
span.nyg{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/giants.png),linear-gradient(-90deg, #b42e2e, rgba(0, 0, 0, 0)),
url(http://www1.pictures.zimbio.com/gi/New+York+Giants+v+Washington+Redskins+NyI0Kfg34THl.jpg );}

span.jac-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/jaguars.png),linear-gradient(-90deg, #a6812c, rgba(0, 0, 0, 0)),
url(http://i.dailymail.co.uk/i/pix/2014/11/09/1415562288246_wps_75_LONDON_ENGLAND_NOVEMBER_0.jpg );}
span.jac{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/jaguars.png),linear-gradient(-90deg, #a6812c, rgba(0, 0, 0, 0)),
url(http://i.dailymail.co.uk/i/pix/2014/11/09/1415562288246_wps_75_LONDON_ENGLAND_NOVEMBER_0.jpg );}

span.nyj-away {
      background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/jets.png),linear-gradient(-90deg, #142520, rgba(0, 0, 0, 0)), url(http://s.newsweek.com/sites/www.newsweek.com/files/styles/embed-lg/public/2014/12/21/new-york-jets.jpg);
}
span.nyj{
      background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/jets.png),linear-gradient(-90deg, #142520, rgba(0, 0, 0, 0)), url(http://s.newsweek.com/sites/www.newsweek.com/files/styles/embed-lg/public/2014/12/21/new-york-jets.jpg);
}

span.gb-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/packers.png),linear-gradient(-90deg, #ffaf01, rgba(0, 0, 0, 0)),
url( http://img.bleacherreport.net/img/slides/photos/003/768/723/4b3098a60b86fd9e4947cff87c4ae10c_crop_north.jpg?w=630&h=420&q=75);}
span.gb{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/packers.png),linear-gradient(-90deg, #ffaf01, rgba(0, 0, 0, 0)),
url( http://img.bleacherreport.net/img/slides/photos/003/768/723/4b3098a60b86fd9e4947cff87c4ae10c_crop_north.jpg?w=630&h=420&q=75);}

span.det-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/lions.png),linear-gradient(-90deg, #6b6b6d, rgba(0, 0, 0, 0)),
url(http://cdn.fansided.com/wp-content/blogs.dir/53/files/2014/08/dominic-raiola-brandon-pettigrew-nfl-chicago-bears-detroit-lions.jpg );}
span.det{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/lions.png),linear-gradient(-90deg, #6b6b6d, rgba(0, 0, 0, 0)),
url(http://cdn.fansided.com/wp-content/blogs.dir/53/files/2014/08/dominic-raiola-brandon-pettigrew-nfl-chicago-bears-detroit-lions.jpg );}

span.car-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/packers.png),linear-gradient(-90deg, #f7c615, rgba(0, 0, 0, 0)),
url(http://www.charlotteobserver.com/sports/f2sqhw/picture39718932/ALTERNATES/FREE_640/Panthers%20Seahawks%20Football.JPG );}
span.car{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/packers.png),linear-gradient(-90deg, #f7c615, rgba(0, 0, 0, 0)),
url(http://www.charlotteobserver.com/sports/f2sqhw/picture39718932/ALTERNATES/FREE_640/Panthers%20Seahawks%20Football.JPG );}

span.ne-away {
     background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/patriots.png),linear-gradient(-90deg, #1a2f5a, rgba(0, 0, 0, 0)), url(http://www1.pictures.zimbio.com/gi/Tom+Brady+New+England+Patriots+v+Pittsburgh+9vqHi_NMwIll.jpg);
}
span.ne{
     background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/patriots.png),linear-gradient(-90deg, #1a2f5a, rgba(0, 0, 0, 0)), url(http://www1.pictures.zimbio.com/gi/Tom+Brady+New+England+Patriots+v+Pittsburgh+9vqHi_NMwIll.jpg);
}

span.oak-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/raiders.png),linear-gradient(-90deg, #d8d8d8, rgba(0, 0, 0, 0)),
url(http://www.rantsports.com/nfl/files/2014/11/carr.jpg );}
span.oak{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/raiders.png),linear-gradient(-90deg, #d8d8d8, rgba(0, 0, 0, 0)),
url(http://www.rantsports.com/nfl/files/2014/11/carr.jpg );}

span.stl-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/rams.png),linear-gradient(-90deg, #f3c878, rgba(0, 0, 0, 0)),
url(http://www.trbimg.com/img-5695ae3c/turbine/la-sp-nfl-meet-the-los-angeles-rams-20160110 );}
span.stl{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/rams.png),linear-gradient(-90deg, #f3c878, rgba(0, 0, 0, 0)),
url(http://www.trbimg.com/img-5695ae3c/turbine/la-sp-nfl-meet-the-los-angeles-rams-20160110 );}

span.bal-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/ravens.png),linear-gradient(-90deg, #000000, rgba(0, 0, 0, 0)),
url(http://www.baltimoreravens.com/assets/images/imported/mediacontent/~/media/31f127ce3af141ec81fa3617066956ab.jpg );}
span.bal{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/ravens.png),linear-gradient(-90deg, #000000, rgba(0, 0, 0, 0)),
url(http://www.baltimoreravens.com/assets/images/imported/mediacontent/~/media/31f127ce3af141ec81fa3617066956ab.jpg );}

span.was-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/redskins.png),linear-gradient(-90deg, #efb91b, rgba(0, 0, 0, 0)),
url(http://www.uglyboyfresh.com/wp-content/uploads/2013/05/robtringali.jpg );}
span.was{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/redskins.png),linear-gradient(-90deg, #efb91b, rgba(0, 0, 0, 0)),
url(http://www.uglyboyfresh.com/wp-content/uploads/2013/05/robtringali.jpg );}

span.no-away {    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/saints.png),linear-gradient(-90deg, #d8ba7a, rgba(0, 0, 0, 0)),
url(http://media.nola.com/saints_impact/photo/saints-brees-huddlejpg-6ad6eff9572e5b2f_large.jpg);}
span.no{    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/saints.png),linear-gradient(-90deg, #d8ba7a, rgba(0, 0, 0, 0)),
url(http://media.nola.com/saints_impact/photo/saints-brees-huddlejpg-6ad6eff9572e5b2f_large.jpg);}

span.sea-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/seahawks.png),linear-gradient(-90deg, #31fb61, rgba(0, 0, 0, 0)),
url(http://www.gannett-cdn.com/-mm-/c0371bcff746c5750375c7f5d128b745bc95afe1/c=0-443-4081-2749&r=x1683&c=3200x1680/local/-/media/2015/12/24/Salem/Salem/635865804252207137-Browns-
Seahawks-Footb-Kirk.jpg );}
span.sea{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/seahawks.png),linear-gradient(-90deg, #31fb61, rgba(0, 0, 0, 0)),
url(http://www.gannett-cdn.com/-mm-/c0371bcff746c5750375c7f5d128b745bc95afe1/c=0-443-4081-2749&r=x1683&c=3200x1680/local/-/media/2015/12/24/Salem/Salem/635865804252207137-Browns-
Seahawks-Footb-Kirk.jpg );}

span.pit-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/steelers.png),linear-gradient(-90deg, #ddab26, rgba(0, 0, 0, 0)),
url(http://hips.htvapps.com/htv-prod-media.s3.amazonaws.com/ibmig/cms/image/wtae/30539682-30539682.jpg );}
span.pit{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/steelers.png),linear-gradient(-90deg, #ddab26, rgba(0, 0, 0, 0)),
url(http://hips.htvapps.com/htv-prod-media.s3.amazonaws.com/ibmig/cms/image/wtae/30539682-30539682.jpg );}

span.hou-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/texans.png),linear-gradient(-90deg, #0b1326, rgba(0, 0, 0, 0)), url(https://s3media.247sports.com/Uploads/Assets/391/175/6_4175391.jpg);
}
span.hou{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/texans.png),linear-gradient(-90deg, #0b1326, rgba(0, 0, 0, 0)), url(https://s3media.247sports.com/Uploads/Assets/391/175/6_4175391.jpg);
}

span.ten-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/titans.png),linear-gradient(-90deg, #af1e25, rgba(0, 0, 0, 0)),
url(https://1prso3391sqpaf1e11k5i8s1-wpengine.netdna-ssl.com/wp-content/uploads/2015/09/v.jpg );}
span.ten{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/titans.png),linear-gradient(-90deg, #af1e25, rgba(0, 0, 0, 0)),
url(https://1prso3391sqpaf1e11k5i8s1-wpengine.netdna-ssl.com/wp-content/uploads/2015/09/v.jpg );}

span.min-away {
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-left-weather-mascot-311x292/day/sunny/vikings.png),linear-gradient(-90deg, #4d3a87, rgba(0, 0, 0, 0)), url(http://profootballspot.com/uploads/monthly_2015_09/ca63d45861e886d749b114b54e241beb.jpg.85d99485dd0558b8a425327699ed8b25.jpg);
}
span.min{
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/logos/helmet-right-weather-mascot-311x292/day/sunny/vikings.png),linear-gradient(-90deg, #4d3a87, rgba(0, 0, 0, 0)), url(http://profootballspot.com/uploads/monthly_2015_09/ca63d45861e886d749b114b54e241beb.jpg.85d99485dd0558b8a425327699ed8b25.jpg);
}
/***clock***/
.countdownHolder {
    width: 210px;
    height: 73px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0 0 .2em .2em;
    margin: 0 auto; font-family:inherit;
    text-align: center;
    text-shadow: 1px 1px 7px black;
}
/***top slideshow***/
.outer {        width: 770px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 1px;
    height: 204px;
    overflow: hidden;
    background-size: 100%;
    background-image: url(http://i.nflcdn.com/static/site/7.4/img/schedules/fields/day/prepost/field-sunny@2x.png), url(), -webkit-linear-gradient(top, rgba(247, 248, 248, 0), rgba(0, 0, 0, 0)), url();
    background-position: 1PX -70PX,0px 4px;
}

.inner {     display: block;
    position: relative;
    top: 0%;
    overflow: hidden;
    width: 100%;
    height: 204px;
}

pic img {    object-fit: contain;
    width: 224px;
    left: -270px;
    position: relative;
    height: 190px;
    overflow: hidden;
    border-right: solid 1px #e2322a;
    animation: fadein-slideup ease 3s;
}
b1, b2, b3 {
position: relative;     left: 226px;    padding-left: 8px;
    text-align: left;
    display: block;
}
b1 {        top: -191px;
    width: 535px;
    height: 193px;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 1em;
    animation: fadein-slideup ease 3s;
}

b2 {      top: -332px;
    width: 441px;
    height: 75px;
    font-size: 30px;
    text-transform: uppercase;
    animation: fadein-slidedown ease 4s;
}

b3 {        top: -369px;
    width: 441px;
    height: 110px;
    font-size: 19px;
    text-transform: uppercase;
    line-height: 1.2em;
    animation: fadein-slidedown ease 5s;
}

@keyframes fadein-slideup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein-slidedown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/***columns***/
.col-md-6 {
    width: 66%;
}
.col-md-10 {
    width: 83.33333333333334%;
    padding-bottom: 32px;
}

/***panels***/
.panel-body {
    padding: 5px;
}
.panel-heading {
padding: 10px 5px;
    border-bottom: 0px solid rgb(57, 66, 74);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    text-transform: uppercase;
    font-size: 21px;
}
  .panel {
    margin-bottom: 20px;
    border: 0px solid transparent;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgb(32, 35, 42), rgba(31, 36, 40, 0.14)), url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png);
    background-repeat: repeat, repeat;
    background-size: contain, auto;
    background-position: 0px 0px, 0px 0px; background-color: rgba(255, 255, 255, 0);
}

/***tables***/
.data-table1 th, table.data-table1 td {
    font-family: inherit; font-size:14px;
}
table.data-table1 .thd1 td, table.data-table1 .thd1 th {
    text-align: left;
    padding: 10px 3px;
    background-color: #212a31;
    font-size: 15px;
    text-transform: uppercase;
}
table.data-table1 .thd2 td {
    border-bottom: 1px solid #ccc;
    color: #fff;     padding: 0px 3px;
}
table.data-table1 {
    border-collapse: collapse;
    border: 0px solid #ccc;
    width: 100%;
}
/***menu***/
a {
    text-decoration: none;
    -moz-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
}
#nav {       height: 34px;
    line-height: 42px;
    width: 1086px;
    position: absolute;
    top: 160px;
    left: 156px;
    z-index: 300;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
 .postimg img {
    max-width: 100%;
    position: relative;
    height: auto;
    left: 11px;
}
#nav li {  
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(74, 74, 74)),color-stop(1, #DADADA));
    float: left;
    position: relative;
    width: 12%;
    height: 34px;
}

#nav li:first-child, #nav li:first-child a { 
    -webkit-border-radius: 3px 0 0 3px; 
    -moz-border-radius: 3px 0 0 3px; 
    border-radius: 3px 0 0 3px; 
}
#nav li:last-child, #nav li:last-child a { 
    -webkit-border-radius: 0 3px 3px 0; 
    -moz-border-radius: 0 3px 3px 0; 
    border-radius: 0 3px 3px 0; 
}

#nav a {    
    border-right: 0px solid #222;
    border-left: 1px solid #574007;
    color: #ffffff; text-transform:uppercase;
    text-shadow: 0px 1px 7px black;
    position: relative;
    display: block;
    font-size: 15px;
    letter-spacing: .05em;
    height: 34px;
    overflow: hidden;
    text-align: center;
    -webkit-box-shadow: inset 0 0 10px transparent;
    -moz-box-shadow: inset 0 0 10px transparent;
}

#nav a:after {
    content: "";
    height: 13px;
    left: 0;
    position: absolute;
    width: 100%;
}
.css-tabs input:checked + label { 
    color: #fff;
    position: relative;
    z-index: 20;
    padding-top: 2%;
}
#nav li:hover > a {
    border-left-color: #222;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    -webkit-box-shadow: inset 0 0 10px #111;
    -moz-box-shadow: inset 0 0 10px #111;
    box-shadow: inset 0 0 10px #111;     height: 34px;
}
#nav span {
    position: relative;  top: -4px;
}

#nav a:active span {
    color: #ffd;
    position: relative;
    top: 1px;
}

#nav li:first-child a {
    border-left: none;    
}

#nav li:last-child a {
    border-right: none;    
}

.dropdown > a span:after {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #f16025;
    content: "";
    right: -13px;
    position: absolute;
    top: 3px;
}

.dropdown:hover > a span:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content: "";
    right: -15px;
    position: absolute;
    top: 6px;
}

#nav ul ul {
    opacity: 0;
    position: absolute;
    top: 39px;
    visibility: hidden;
    width: 0;
    -moz-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out; 
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

#nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

#nav ul ul li {
    float: none;
    line-height: 0;
    width: 100%;
    position: relative;
    top: -3px;          
}

#nav ul ul li:nth-child(odd) {
    background: #39434f;    
}

#nav ul ul li:first-child, #nav ul ul li:first-child a { 
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    border-radius: 0; 
}
#nav ul ul li:last-child, #nav ul ul li:last-child a { 
    -webkit-border-radius: 0 0 3px 3px; 
    -moz-border-radius: 0 0 3px 3px; 
    border-radius: 0 0 3px 3px; 
}

#nav ul ul li a {
    border-top: 1px solid #fff;    border-left: 0px solid rgba(85, 85, 85, 0.42);
    color:bacl;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    padding: 0 3px 0 5px;
    text-align: left;
    text-shadow: 0 -1px 0 #eee;
}

#nav ul li ul li a:after {
    background: rgba(0,0,0,.02);
    content: "";
    height: 18px;
    left: 0;
    position: absolute;
    top: 19px;
    width: 100%;
}

#nav ul ul li a:hover {
    font-size: 13px;
    color: #f16025;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#nav ul ul a:active span {
    color: #111;
    position: relative;
    top: 1px;
}


/***body***/
.maincontent {
    top: 15px;
    position: relative;
    padding-bottom: 15px;
}
div#header {        height: 202px;
    width: 1220px;
    position: absolute;
    z-index: 1;
    border-bottom: 1px solid;
    text-transform: uppercase;
    text-align: left;
}
body {
   font-family: DLSansCondMedium;
    background-attachment: fixed;     font-size: 17px;
    padding: 5px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.container {
    width: 1220px;
}
/****scorelist***/

.scorelist {  display: block;
    list-style: none;
    height: 47px;
    overflow: hidden;
    BACKGROUND-COLOR: rgba(255, 255, 255, 0);
    padding: 6px;
    width: 1220px;
    top: 45px;
    z-index: 1;
    position: relative;
}

.yui3-scorestrip-tile-bigplay .yui3-scorestrip-tile-content, .yui3-scorestrip-tile-bigplay .yui3-scorestrip-tile-alert-box, .yui3-scorestrip-tile-content:hover, .yui3-scorestrip-tile-content:hover > span {    background: none repeat scroll 0 0 rgba(255, 255, 255, 0) !important;
 
    text-decoration: none;
}
span.yui3-scorestrip-tile-vts.yui3-scorestrip-tile-visitor.yui3-scorestrip-tile-score {    position: absolute;
    width: 20px;
    text-align: right;
    top: 0px;
    left: 78%;
}
.yui3-scorestrip-tile-big-play a, .yui3-scorestrip-tile-home {       top: 19px;
    width: 21px;
    left: 41px;
    height: 18px;
}
.yui3-scorestrip-tile-score {
    right: 1px;
    text-align: right;
}
.yui3-scorestrip-tile-index-0 {
    width: 62px;
}
.yui3-scorestrip-tile {      cursor: pointer;
    float: left;
    font: bold 15px/19px DLSansCondMedium;
    width: 70px;
    height: 43px;
    top: -2px;
    left: -2px;
    BORDER-TOP: .5PX SOLID rgba(128, 128, 128, 0.23);
    BORDER-RIGHT: .5PX SOLID rgba(128, 128, 128, 0.46);
    overflow: hidden;
    position: relative;
    text-align: left;
    text-transform: uppercase;
}
a.yui3-scorestrip-tile-content {   
    height: 71%;
    left: 6px;
    position: absolute;
    text-decoration: none;
    width: 53px;
}
/***stats***/
.panel-heading.stats3 {
    background: -webkit-linear-gradient(#ef4733, #a83a30);
    COLOR: WHITE;
    text-transform: uppercase;
    transform: rotate(90deg);
    transform-origin: left bottom 0;
    padding-top: 13px;
    font-size: 75px;
    position: relative;
    top: -60px;
    LETTER-SPACING: -.01em;
    height: 60px;
    width: 271px;
    line-height: 38px;
    z-index: 105;
    left: 401px;
    text-align: left;
    padding-right: 9px;
    padding-bottom: 0px;
}
.panel-heading.stats2 {
    background: -webkit-linear-gradient(#ef4733, #a83a30);
    COLOR: WHITE;
    text-transform: uppercase;
    transform: rotate(90deg);
    transform-origin: left bottom 0;
    padding-top: 13px;
    font-size: 75px;
    position: relative;
    top: -60px;
    LETTER-SPACING: -.01em;
    height: 60px;
    width: 271px;
    line-height: 38px;
    z-index: 105;
    left: 489px;
    text-align: left;
    padding-right: 9px;
    padding-bottom: 0px;
}
.panel-heading.stats {    background: -webkit-linear-gradient(#ef4733, #a83a30);
    COLOR: WHITE;
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: left bottom 0;
    padding-top: 12px;
    font-size: 75px;
    position: relative;
    top: 210px;
    LETTER-SPACING: -.01em;
    height: 60px;
    width: 271px;
    line-height: 38px;
    z-index: 105;
    left: 0px;
    text-align: left;
    padding-right: 9px;
    padding-bottom: 0px;
}
.portfolio-box2{    display: block;
    position: relative;
    margin: 0 auto;
    left: -259px;
    width: 400px;
    height: 270px;
    top: 15px;
    BACKGROUND-IMAGE: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png), url(http://interactives.dallasnews.com/embeds/zeke-tracker/images/_elliott_cut_small.png), url(http://media.gettyimages.com/videos/dramatic-soccer-stadium-full-of-spectators-video-id494935136?s=640x640);
    background-repeat: repeat,no-repeat, no-repeat;
    background-size: 7PX, 82%,200%;
    background-position: 0px 0px, 74PX  1px, -248px -143px;
}
.portfolio-box2 .portfolio-box2-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 270px; top:0px;
  text-align: center;
  opacity: 0;
    background-image: -webkit-linear-gradient(top, rgb(48, 54, 63), rgba(54, 60, 69, 0.92)), url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png);  transition: all 0.4s;
}
.portfolio-box3{      display: block;
    position: relative;
    margin: 0 auto;
    left: 200px;
    width: 490px;
    height: 269px;
    top: -256px;
    BACKGROUND-IMAGE: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png), url(http://2.bp.blogspot.com/-2Lw217O57MM/Tmgdgqbq8cI/AAAAAAAACFk/oFbuz1ULi74/s1600/aaron+rodgers.png), url(http://media.gettyimages.com/videos/dramatic-soccer-stadium-full-of-spectators-video-id494935136?s=640x640);
    background-repeat: repeat,no-repeat, no-repeat;
    background-size: auto, 82%, auto;
    background-position: 0px -39px, 68% -32px, -142px -75px;
}
.portfolio-box3 .portfolio-box3-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 270px; top:0px;
  text-align: center;
  opacity: 0;
    background-image: -webkit-linear-gradient(top, rgb(48, 54, 63), rgba(54, 60, 69, 0.92)), url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png);  transition: all 0.4s;
}
.portfolio-box4{      display: block;
    position: relative;
    margin: 0 auto;
    left: -216px;
    width: 490px;
    height: 270px;
    top: -243px;
    BACKGROUND-IMAGE: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png), url(http://i137.photobucket.com/albums/q239/Friartown/AnBrown.png), url(http://media.gettyimages.com/videos/dramatic-soccer-stadium-full-of-spectators-video-id494935136?s=640x640);
    background-repeat: repeat,no-repeat, no-repeat;
    background-size: auto, 82%, auto;
    background-position: 0px -39px, 65% 1px, -5px -2px;
}
.portfolio-box4 .portfolio-box4-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 270px; top:0px;
  text-align: center;
  opacity: 0;
    background-image: -webkit-linear-gradient(top, rgb(48, 54, 63), rgba(54, 60, 69, 0.92)), url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png);  transition: all 0.4s;
}
.portfolio-box5{        display: block;
    position: relative;
    margin: 0 auto;
    left: 243px;
    width: 400px;
    height: 270px;
    top: -510px;
    BACKGROUND-IMAGE: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://jetsrant.com/wp-content/uploads/2014/02/Watt2.png), url(http://media.gettyimages.com/videos/dramatic-soccer-stadium-full-of-spectators-video-id494935136?s=640x640);
    background-repeat: repeat,no-repeat, no-repeat;
    background-size: 7PX, 82%,200%;
    background-position: 0px 0px, 74PX 1px, -315px -23px;
}
.portfolio-box5 .portfolio-box5-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 270px; top:0px;
  text-align: center;
  opacity: 0;
    background-image: -webkit-linear-gradient(top, rgb(48, 54, 63), rgba(54, 60, 69, 0.92)), url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png);  transition: all 0.4s;
}
.portfolio-box6{           display: block;
    position: relative;
    margin: 0 auto;
    left: 199px;
    width: 487px;
    height: 270px;
    top: -497px;
    BACKGROUND-IMAGE: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i137.photobucket.com/albums/q239/Friartown/Mathieu3.png), url(http://media.gettyimages.com/videos/dramatic-soccer-stadium-full-of-spectators-video-id494935136?s=640x640);
    background-repeat: repeat,no-repeat, no-repeat;
    background-size: 7PX, 90%,185%;
    background-position: 0px 0px, 27PX 7px, -105px -210px;
}
.portfolio-box6 .portfolio-box6-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 270px; top:0px;
  text-align: center;
  opacity: 0;
    background-image: -webkit-linear-gradient(top, rgb(48, 54, 63), rgba(54, 60, 69, 0.92)), url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png);  transition: all 0.4s;
}
.portfolio-box7{    display: block;
    position: relative;
    margin: 0 auto;
    left: -262px;
    width: 400px;
    height: 270px;
    top: -771px;
    BACKGROUND-IMAGE: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png), url(http://media.easports.com/content/dam/ea/easports/madden/home/hero-images/2016/august/18/presentation/madden17-presentation-fg-xs.png), url(http://media.gettyimages.com/videos/dramatic-soccer-stadium-full-of-spectators-video-id494935136?s=640x640);
    background-repeat: repeat,no-repeat, no-repeat;
    background-size: 7PX, 145%,200%;
    background-position: 0px 0px, -1PX -96px, -248px -150px;
}
.portfolio-box7 .portfolio-box7-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 270px; top:0px;
  text-align: center;
  opacity: 0;
    background-image: -webkit-linear-gradient(top, rgb(48, 54, 63), rgba(54, 60, 69, 0.92)), url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png);  transition: all 0.4s;
}
span.transactionsfull2 {
      position: relative;
    top: 2px;
    left: 7px; line-height:2;
    text-align: left;
    padding-right: 26px;
}

.portfolio-box {       display: block;
    position: relative;
    margin: 0 auto;
    left: -101px;
    width: 525px;
    height: 238px;
    top: 15px;
    BACKGROUND-IMAGE: url(http://i1178.photobucket.com/albums/x364/garza21lions/POW_zpsdgikhsea.gif), url(http://centrosportivomarasca.it/fw/view/layout/00/images/trophy.png), url(http://i1178.photobucket.com/albums/x364/garza21lions/background%20pic_zpsivsbeaw9.jpg);
    background-repeat: no-repeat,no-repeat, no-repeat;
    background-size: 40%, 55%,100%;
    background-position: 0px 0px, 107% -29px, 0px 0px;
}

.portfolio-box .portfolio-box-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 233px; top:0px;
  text-align: center;
  opacity: 0;
 background-image: url("http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png"),url(http://i1178.photobucket.com/albums/x364/garza21lions/background%20pic_zpsivsbeaw9.jpg);
  transition: all 0.4s;
}


/* Here's the trick below. Hover on parent and affect the child's property */

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}
.portfolio-box2:hover .portfolio-box2-caption {
  opacity: 1;
}
.portfolio-box2 .portfolio-box2-caption .portfolio-box2-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}
.portfolio-box3:hover .portfolio-box3-caption {
  opacity: 1;
}
.portfolio-box3 .portfolio-box3-caption .portfolio-box3-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}
.portfolio-box4:hover .portfolio-box4-caption {
  opacity: 1;
}
.portfolio-box4 .portfolio-box4-caption .portfolio-box4-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}
.portfolio-box5:hover .portfolio-box5-caption {
  opacity: 1;
}
.portfolio-box5 .portfolio-box5-caption .portfolio-box5-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}
.portfolio-box7:hover .portfolio-box7-caption {
  opacity: 1;
}
.portfolio-box7 .portfolio-box7-caption .portfolio-box7-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}
.portfolio-box6:hover .portfolio-box6-caption {
  opacity: 1;
}
.portfolio-box6 .portfolio-box6-caption .portfolio-box6-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}
@keyframes slide-in-right{
  from { margin-left: 10%; }
  to { margin-left: 0%; }
}
@keyframes slide-in-left{
  from { margin-right: 10%; }
  to { margin-right: 0%; }
}
@keyframes fadein-slide-in-left{
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadein-slide-in-right{
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadein-slidedown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
@keyframes fadein-slideup{
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
