/****scorelist***/
.yui3-scorestrip-tile:before{
content:"SCORES";
}
.scorelist img {
  width: 63px;
    height: 44px;
    display: block;
    float: left;
    padding: 4px;
}

.scorelist {  display: block;
    list-style: none;
    height: 87px;
    overflow: hidden;
    BACKGROUND-COLOR: rgba(255, 255, 255, 0);
    margin: 0 auto;
    width: 112px;
    top: 82px;
    right: 2px;
    z-index: 99;
    position: fixed;
}

.yui3-scorestrip-tile-visitor-wins .yui3-scorestrip-tile-visitor, .yui3-scorestrip-tile-home-wins .yui3-scorestrip-tile-home {   position: absolute;
    width: 30px;
    height: 20px;
    top: 56px;
    left: 56px;
    font-size: 15px;
    color: white;
    text-align: center;
}
.yui3-scorestrip-tile-bigplay .yui3-scorestrip-tile-content, .yui3-scorestrip-tile-bigplay .yui3-scorestrip-tile-alert-box, .yui3-scorestrip-tile-content:hover, .yui3-scorestrip-tile-content:hover > span {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    color: #ffffff !important;
    text-decoration: none;
    height: 55px;
}
span.yui3-scorestrip-tile-vts.yui3-scorestrip-tile-visitor.yui3-scorestrip-tile-score {     position: absolute;
    position: absolute;
    width: 30px;
    font-size: 15px;
    height: 20px;
    top: 15px;
    left: 56px;
    color: white;
    text-align: center;
}
li#game- {
    height: 85px;
}
.yui3-scorestrip-tile-big-play a, .yui3-scorestrip-tile-home {        top: 29px;
    width: 21px;
    left: 86px;
    height: 25px;
}
.scorelist:before {
    content: "SCORES";
    COLOR: WHITE;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    background: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),linear-gradient( #6f2020, #b92222 ), url();
    border-bottom: 2px solid #777;
    background-size: 7px, 100%,100%;
    background-position: 0 0,0 0, 0px 278px;
    position: absolute;
    top: 85px;
    float: left;
    left: -4px;
    width: 85px;
    font-size: 18px;
    z-index: 1;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    padding-left: 17px;
    letter-spacing: 2px;
    padding-top: 4px;
}
.yui3-scorestrip-tile-score {
    right: 1px;
    text-align: right;
}
.yui3-scorestrip-tile-index-0 {
      width: 136px;
}
.yui3-scorestrip-tile {   
    cursor: pointer;
    display: inline;
    float: left;   background: rgba(0, 0, 0, 0);
    height: 87px;
    overflow: hidden;
    position: relative;
    text-align: left;
    font-size: 16px;
    top: -2px;
    text-transform: uppercase;
}
a.yui3-scorestrip-tile-content {    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
    color: #ffffff;
    height: 87px;
    width: 94px;
    padding: 1px;
    left: 16px; font-size:10px;
    position: absolute;
    text-decoration: none;
    line-height: 43px;
}
/***video background in intro section***/
.video {
  padding-top: 56.25%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}
.video__container {
  width: 100%;
  height: 456px;
  background: white;
  position: relative;
  overflow: hidden;
  margin-top: 0px;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(black));
}
.video__overlay {    background: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png) 0px 0px / 7px, linear-gradient(rgb(0, 0, 0), rgb(48, 84, 151)) 0px 0px / 100%, url() 0px 278px / 100%;
    background-position: 0px 0px, 0px 0px, 0px 278px;
    opacity: .85;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/***sections****/
.section{
  width: 100%;     background: rgba(51, 51, 51, 0.31);
  height: 100%;
  margin: 15px 0;
  color: #FFF;
  text-align: center;
  line-height: 25px;
  transition: all .65s;
  opacity: 0;     margin-top: 0px;
}

.section-1{ }
.section-2{    float: left;width: 50%;}
.section-3{   float: left;width: 50%;}
.section-4{    float: left;width: 75%;}
.section-5{   float: left;width: 25%;}

.active,
.section:first-child{
  opacity: 1;
}

/***intro section***/
.basic-brackets {
    position: relative;
    height: 46px;
    width: 500px;
      margin: 70px auto 0;
}
.basic-brackets:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
    border-left: 5px solid #aaa;
    border-top: 5px solid #ccc;
    border-bottom: 5px solid #ccc;
  padding: 0px 15px;
}
.basic-brackets:after {
  content: " ";
  padding: 0px 15px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
    border-right: 5px solid #ccc;
    border-top: 5px solid #ccc;
    border-bottom: 5px solid #ccc;
}
.basic-brackets h1, .basic-brackets h2, .basic-brackets h3, .basic-brackets h4, .basic-brackets h5, .basic-brackets h6, .basic-brackets p, .basic-brackets ul, .basic-brackets li, .basic-brackets a {
    padding: 0px 0px;
      top: 11px;
    position: relative;
    text-transform: uppercase;
    color: #ef6161;
}

.brackets-using-mixin {
  height: 150px;
  width: 320px;
  margin: 50px auto 0;
  position: relative;
}
.brackets-using-mixin:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-left: 20px solid salmon;
  border-top: 20px solid salmon;
  border-bottom: 20px solid salmon;
  padding: 0px 10px;
}
.brackets-using-mixin:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-right: 20px solid salmon;
  border-top: 20px solid salmon;
  border-bottom: 20px solid salmon;
  padding: 0px 10px;
}
.brackets-using-mixin h1, .brackets-using-mixin h2, .brackets-using-mixin h3, .brackets-using-mixin h4, .brackets-using-mixin h5, .brackets-using-mixin h6, .brackets-using-mixin p, .brackets-using-mixin ul, .brackets-using-mixin li, .brackets-using-mixin a {
  padding: 20px 60px;
}
.brackets-using-mixin p {
  font-size: 28px;
  font-family: Arial;
  padding-top: 45px;
}

span.top.text {
    POSITION: ABSOLUTE;
    WIDTH: 100%;
    FONT-SIZE: 129PX;
    LEFT: 0PX;    font-style: italic;
    TOP: 121px;
    TEXT-SHADOW: 0 4PX 7PX BLACK;
}
span.small.text {    POSITION: ABSOLUTE;
    WIDTH: 100%;
    FONT-SIZE: 28PX;
    LEFT: 0PX;
    TOP: 261px;
    color: white;
    TEXT-SHADOW: 0 4PX 7PX BLACK;
    letter-spacing: .2em;
}

/***set up***/
.section {
    line-height: initial;
    padding: 5px;
}
div#header {
    max-width: 1200PX;
    width: 100%; background: black;
    min-height: 161px;
    TOP: -52PX;
    height: none;
}
body {
    font-family: DLSansCondMedium;
    background-image: url();
    background-repeat: repeat;
    background-attachment: fixed;
    font-size: 18px;
    background-position: center top;
    background-color: #000000;
}
.container {
    background: black;
}
.content {
    WIDTH: 100%;
    HEIGHT: 100%;
    z-index: 0;
    top: -59px;
    position: relative;
}
/***gow***/
.clickable.ng-scope {    width: 585px;
    height: 224px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    animation: fadein-slide-in-right ease 5s;
}
.cfm-table tbody tr td>div.align-right, .cfm-table tbody tr th>div.align-right {
           width: 585px;
    height: 224px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    animation: fadein-slide-in-left ease 5s;
}
.home.ari, .home.atl,  .home.bal, .home.buf, .home.car, .home.chi, .home.cin, .home.cle, .home.dal, .home.den, .home.det, .home.gb, .home.hou, .home.ind, .jac, .home.kc, .home.mia, .home.min, .home.ne, .home.no, .home.nyg, .home.nyj, .home.oak, .home.phi, .home.pit, .home.sd, .home.sf, .home.sea, .home.la, .home.tb, .home.ten, .home.was, .home.mc, .home.por, .home.ldn, .home.sat,  .home.bkn, .home.los{    width: 100%;
    font-size: 70px;
    height: 100%;
    padding-top: 99px;
    position: absolute;
    z-index: 2;
    text-align: left;
    text-transform: uppercase;
    font-family: DLSansCondMedium;
    color: white;
    overflow: hidden;
    text-shadow: 0 2px 5px black;
}
.ari,.atl, .bal, .buf, .car, .chi, .cin, .cle, .dal, .den, .det, .gb, .hou, .ind, .jac, .kc, .mia, .min, .ne, .no, .nyg, .nyj, .oak, .phi, .pit, .sd, .sf, .sea, .la, .tb, .ten, .was, .mc, .por, .ldn, .sat, .bkn, .los {
    width: 100%;
    height: 100%;
    font-size: 70px;
    padding-top: 98px;
    position: absolute;
    z-index: 2;
    text-align: RIGHT;
    text-transform: uppercase;
    font-family: DLSansCondMedium;
    color: white;
    overflow: hidden;
    text-shadow: 0 2px 5px black;
}

.away.team {     position: absolute;
    background-color: rgba(205, 206, 208, 0);
    width: 100%;
    TOP: 55px;
    font-size: 15px;
    z-index: 3;
    text-transform: uppercase;
    letter-spacing: .71em;
    text-align: RIGHT;
    font-family: DLSansCondMedium;
    padding: 5px;
    color: #cad7e1;
    text-shadow: 0 2px 5px black;
}
.gowh {
    width: 649px;
    animation: fadein-slidedown 4800ms ease-out;
    height: 100%;
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));
    position: absolute;
    right: -73px;
    z-index: 1;
    background-position: 0 , 0, 0 ,0;
    BACKGROUND-SIZE: 8PX,100%,100%;
    background-repeat: REPEAT, no-repeat, no-REPEAT;
}
.gowa {    width: 648px;
    ANIMATION: fadein-slidedown 4800ms ease-out;
    height: 100%;
    -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));
    position: absolute;
    left: -73px;
    z-index: 1;
    background-position: 0 , 0, 0 ,0;
    BACKGROUND-SIZE: 8PX,100%,100%;
    background-repeat: REPEAT, no-repeat, no-REPEAT;
}
.align-right.clickable.ng-scope span.score.ng-binding {
    width: 585px;
    padding-right: 38px;
    TOP: 162px;
    position: absolute;
    text-align: right;
}
.clickable ng-scope, span.score.ng-binding {  TOP: 163px;
    left: -23px;
    position: absolute;
    width: 576px;
    text-align: left;
}
.team {
    font-size: 16px;
    text-shadow: 0px 1px 6px black;
}

div#gameoftheweek-container {
    margin-bottom: 0%;     z-index: 0;
    position: relative;
}
.gameoftheweek .cfm-table tr td .score {     color: #fdfdfd;
    background: linear-gradient(0deg, #ff0000 35%, rgba(167, 6, 6, 0.77) 54%, #ff0000 61%, rgb(152, 5, 5) 68%, #f75e5e 71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(132, 2, 2, 0.28);
      font-size: 5vW; top: 24vh
    z-index: 1;
    font-familY: DLSansCondMedium;
    line-height:111px;
}
.clickable.ng-scope .record {        color: #ffca00;
    position: ABSOLUTE;
    top: -38px;
    z-index: 1;
    left: 40px;
    padding-left: 1px;
    letter-spacing: .1em;
    text-align: left;
    font-size: 14px;
}
.align-right.clickable.ng-scope .record {     color: #ffca00;
    position: ABSOLUTE;
    top: -38px;
    z-index: 1;
    RIGHT: 35px;
    padding-left: 1px;
    letter-spacing: .1em;
    text-align: right;
    font-size: 14px;
}
.gameoftheweek {
    width: 100%;
       height: 33vH;
    overflow: hidden;
    line-height: 30px;
    border-bottom: 0px solid #ffffff;
    background: rgba(255, 255, 255, 0) url(.);
}
span.home.use {        background-image: url(http://findicons.com/files/icons/1254/flurry_system/256/users.png);
    text-align: left;
    background-position: 0px 33px;
    top: -31px;
    padding-left: 31px;
    left: 8px;
}
span.away.use {    
    left: 35px;     animation: slide-in-left 2600ms ease-out;
    background-image: url(http://findicons.com/files/icons/1254/flurry_system/256/users.png);
}
span.use { top: -32px;
    z-index: 69;
    width: 100%;
    right: -46px;
    height: 90px;
    display: block;
    letter-spacing: .09em;
    background-repeat: no-repeat, no-repeat;
    background-size: 5%;
    background-position: 515px 34px;
    FONT-SIZE: 14px;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    padding-top: 33px;
    padding-right: 69px;
    color: #ddd;
}
.home.team {  position: absolute;
    background-color: rgba(205, 206, 208, 0);
    width: 100%;
    TOP: 54px;
    font-size: 15px;
    z-index: 3;
    left: 12px;
    text-transform: uppercase;
    letter-spacing: .71em;
    text-align: left;
    font-family: DLSansCondMedium;
    padding: 5px;
    color: #cad7e1;
    text-shadow: 0 2px 5px black;
}
.gameoftheweek .cfm-table tr td.cfm-at {  
    width: 5vw;
    background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/game-details-at.png);
    background-repeat: no-repeat;
    background-size: 100%;
      background-position: 2px 1px;
    z-index: 1;
    height: 14vH;
    display: block;
    position: relative;
    top: 11vH;
    animation: fadein ease 8s;
}

/***GOW  images***arizona cardinals*/
span.ari {  background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/ARI.svg);     background-position: 0, -19px -269px;
}
span.ari.gowh 
{    -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0))); -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";}

/*atlanta falcons*/
span.atl{  background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/ATL.svg);     background-position:-59px -161px;
}
span.atl.gowh
{    -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));   -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";}

/*baltimore*/
span.bal {  background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/BAL.svg);    background-position: 66px -49px;
}
span.bal.gowh
{       -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));   background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png), url(https://s1.postimg.org/9zty8cyqn/baltimore_zpsgwuicflu.png) ;}

/*buffalo*/
span.buf{  background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/BUF.svg);
}
span.buf.gowh
{    -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));   -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";}

/*carolina*/
span.car {  background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/CAR.svg);    background-position: 0 -180px;
}
span.car.gowh
{      -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));    -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";}

/*chicago*/
span.chi {
     background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/CHI.svg);
}

/*cincinnatti*/
span.cin {    background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/CIN.svg);
}

/*cleveland*/
span.cle {  background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/CLE.svg);
}
span.cle.gowh {  background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/CLE.svg);    -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0))); -moz-transform: scaleX(-1); -o-transform: scaleX(-1);
 -webkit-transform: scaleX(-1);   transform: scaleX(-1);   filter: FlipH; -ms-filter: "FlipH";
}

/*dallas*/
span.dal {     background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/DAL.svg);
}
span.dal.gowh {     -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));   -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);  transform: scaleX(-1);filter: FlipH; -ms-filter: "FlipH";
}
/*denver*/
span.den {
  background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/DEN.svg);
}
span.den.gowh {      -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));  -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);  transform: scaleX(-1);filter: FlipH; -ms-filter: "FlipH";
}

/*detroit*/
span.det{  background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/DET.svg); background-position:0 0, -136px -173px;
}
span.det.gowh
 {    -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));    -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;  -ms-filter: "FlipH";}

/*green bay*/
span.gb {  background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/GB.svg);
}

/*houston*/
span.hou {  background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/HOU.svg);}

/*indianapolis*/
span.ind {  background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/IND.svg);}

/*jacksonville*/
span.jac {  background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/JAC.svg);     background-position: 0 -194px;}

span.jac.gowh {      -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0))); 
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/*kansas city*/
span.kc {  background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/KC.svg);}

span.kc.gowh {
 background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png), url(https://s2.postimg.org/6rfuqat61/kcright_zpsbcbuntkb.png);
    BACKGROUND-SIZE: 0px ,85%;
    background-position: 0 , 24px -90px;
    background-repeat: repeat, no-repeat;
}

/*dolplins*/
span.mia  { background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/MIA.svg);
}
span.mia.gowh 
{     -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));    -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);  transform: scaleX(-1);   filter: FlipH;-ms-filter: "FlipH";}

/*minnesota*/
span.min { background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/MIN.svg);    background-position: 0, -71px -213px;
}
span.min.gowh 
{      -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));   -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);  transform: scaleX(-1);    filter: FlipH;  -ms-filter: "FlipH";}

/*new england*/
span.ne { background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/NE.svg);
    background-position: -106px -213px;
}
span.ne.gowh 
{      -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));     -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);-webkit-transform: scaleX(-1);   transform: scaleX(-1);  filter: FlipH;    -ms-filter: "FlipH";}

/*new oreleans*/
span.no { background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/NO.svg);}

/*new york giants*/
span.nyg { background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/NYG.svg); background-position: 0 -133px;}

/*new york jets*/
span.nyj{ background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/NYJ.svg);}

/*oakland*/
span.oak{ background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/OAK.svg);}

/*philadelphia*/
span.phi { background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/PHI.svg);  -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";    background-position:0, 67px -270px; -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));
}
span.phi.gowh
 {       -webkit-mask-image: -webkit-gradient(linear, let top, right  bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));    -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(1);    filter: FlipH;    -ms-filter: "FlipH";}

/*pittsburght*/
span.pit { background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/PIT.svg);}

/*san diego*/
span.sd { background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/SD.svg);
    background-position: 0px -143px;}
span.sd.gowh 
{      -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));     -moz-transform: scaleX(-1);   -o-transform: scaleX(-1);  -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";}

/*sf*/
span.sf { background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/SF.svg);}

/*sea*/
span.sea{ background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/SEA.svg);     background-position: 0, -38px -213px;
}
span.sea.gowh
 {        -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));  -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";}

/*los angeles*/
span.la {
    background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(https://upload.wikimedia.org/wikipedia/en/thumb/8/8a/Los_Angeles_Rams_logo.svg/800px-Los_Angeles_Rams_logo.svg.png);
    background-position: -99px -128px;
}
span.la.gowh
 {      -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));     -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";}

/*tampa bay*/
span.tb { background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/TB.svg);    -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";      -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));
    -ms-filter: "FlipH";  background-position: 0 , 0, 0px -123px ,0;}

span.tb.gowh {
    -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(1);    filter: FlipH;    -ms-filter: "FlipH";}

/*tennessee*/
span.ten { background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/TEN.svg);     background-position: 0, -71px -213px;
}
span.ten.gowh 
{      -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));  -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";}

/*washington*/
span.was {   background-image:url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),url(http://i.nflcdn.com/static/site/6.3/img/logos/svg/teams/WAS.svg); background-position: 0 , 0, 0px -72px ,0;     background-position: 0, -67px -138px;
}
span.was.gowh 
{      -webkit-mask-image: -webkit-gradient(linear, right top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgb(0, 0, 0)));   -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";}

/*mexico city diablos*/
span.mc{
    background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.11), rgb(255, 255, 255)),url(http://www.daddyleagues.com/img/nfl/teams/right/152.png),linear-gradient(0deg, rgba(171, 173, 175, 0), rgba(182, 183, 186, 0)); 
}
span.mc.gowa
{    -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";}

/*portland lumberjacks*/
span.por{
    background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.11), rgb(255, 255, 255)),url(http://www.daddyleagues.com/img/nfl/teams/left/164.png),linear-gradient(0deg, rgba(171, 173, 175, 0), rgba(182, 183, 186, 0));
    background-position: 0 , 0, 0px -79px ,0;
}
span.por.gowh
 {    -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";}

/*san antonio marshalls*/
span.sat{
    background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.11), rgb(255, 255, 255)),url(http://www.daddyleagues.com/img/nfl/teams/left/165.png),linear-gradient(0deg, rgba(171, 173, 175, 0), rgba(182, 183, 186, 0));
    background-position: 0 , 0, 0px -149px ,0;
}

/*los angeles after shocks*/
span.los{
    background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.11), rgb(255, 255, 255)),url(http://www.daddyleagues.com/img/nfl/teams/left/136.png),linear-gradient(0deg, rgba(171, 173, 175, 0), rgba(182, 183, 186, 0));
    background-position: 0 , 0, 0px -169px ,0;
}
span.los.gowh
 {    -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";}

/*brooklyn barrons*/
span.bkn{
    background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.11), rgb(255, 255, 255)),url(http://www.daddyleagues.com/img/nfl/teams/left/187.png),linear-gradient(0deg, rgba(171, 173, 175, 0), rgba(182, 183, 186, 0));
    background-position: 0 , 0, 0px -159px ,0;
}
span.bkn.gowh
 {    -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";}

/*london black knights*/
span.ldn{
    background-image: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.11), rgb(255, 255, 255)),url(http://www.daddyleagues.com/img/nfl/teams/left/163.png),linear-gradient(0deg, rgba(171, 173, 175, 0), rgba(182, 183, 186, 0));
    background-position: 0 , 0, 0px -99px ,0;
}
span.ldn.gowh
 {    -moz-transform: scaleX(-1);    -o-transform: scaleX(-1);    -webkit-transform: scaleX(-1);    transform: scaleX(-1);    filter: FlipH;    -ms-filter: "FlipH";}

/***blogs***/
div#news-stream-container {
    overflow: hidden;
}
div#news-stream-container .blogpostimage {float: left;
    object-fit: cover;
    height: 343px;
    width: 100%;
    left: 45px;
    position: relative;
    object-position: 0% 21%;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.83)));
}
.blogpostbody img {
    background-image: url(https://s14.postimg.org/w7plr5wb5/WILLIS-jumbo_1_1.png),url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png);
    background-size: 13vW, .5vW;
    background-repeat: no-repeat, repeat;
    background-position: 85vW 17vW;
}
.blogpostbody {
    background: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png);
    background-size: 7px;
    background-position: 0 0;
    height: 343px;
}
.blogpost.clearfix h4 strong a {
    font-size: 61px;
    text-transform: uppercase;
    font-family: DLSansCondMedium;
    position: absolute;new
    z-index: 3;
    float: left;
    max-height: 256px;
    line-height: 49px;
    overflow: hidden;
    text-align: left;
    font-style: italic;
    width: 243px;
    left: 0px;
    padding: 1%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.blogpost a {
    background: -webkit-linear-gradient(top left, #a4a4a4 15%,#ececec 57%, #fff 70% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
div#hp-recentarticles a {
    text-transform: uppercase;
    padding-left: 19px;
}
.blogpost.clearfix {
    height: 439px;
    border-bottom: 1px solid white;
}
.blogpostfooter {
    position: relative;
    top: 9px;
    float: left;
    padding-left: 12px;
}
.blogpostbody p {
    text-align: left;
    position: relative;
    top: -89px;
    left: 12px;
    width: 292px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    max-height: 41px;
    overflow: hidden;
}

/*Tables*/
table.stats {
    width: 97vW;
    margin-left: 20px;
}
table.data-table1 {
    border: 0px solid #ccc;
}
table.data-table1 .thd1 td {
    background-color: rgba(41, 81, 131, 0);
    color: #fff;
    font-weight: 700;
}
table.data-table1 .thd1 td, table.data-table1 .thd1 th {
    padding: 5px 3px;
    font-size: 15px;
    FONT-STYLE: ITALIC;
    color: #c95454;
    TEXT-TRANSFORM: UPPERCASE;
}
table.data-table1 .tbdy1 td {
    padding: 5px 3px;
}
.data-table1 th, table.data-table1 td {
    font-family: inherit;
    font-size: 17px;
}
#daddyleagues-menu .navbar, .panel,  a.yui3-scorestrip-tile-content, .panel-dl-stats > .panel-heading, table.data-table1 tr:nth-child(odd), table.data-table1 tr:hover, .panel-body .data-table1 tbody tr:nth-child(2n) td, .data-table1 td.tbdy1, table.data-table1 .tbdy1 td {
    background: transparent;   
}
.data-table1 td.tbdy1, table.data-table1 .tbdy1 td {
    color: #ccc; border-bottom: 0px dotted #ddd;
}
table.data-table1 .thd2 td {
    background-color: #333;
    border-bottom: 1px solid rgba(204, 204, 204, 0.14);
    color: #fff;
    padding: 10px 3px;
}
td.bubble {    background: rgba(255,255,255,.15) none repeat scroll 0 0!important;
    border: medium none!important;
    color: #fff!important;
    text-align: center;
}
/***Links and section title designs***/
a:hover, a:focus { color: #cad7e1;
    text-shadow: 0 2px 39px #75a7f6;
}
a {
    color: #679fc9;
}
span.button a {
    background: #213355;
    padding: 7px;
    border-radius: 4px;
    float: right;
    position: absolute;
    right: 6px;
    margin-top: -12px;
}
span.headline {    background-color: #f8f8f8;
    border-color: #e7e7e7;
    background: #213355;
    background-size: 7px, 100%,100%;
    background-position: 0 0,0 0, 0px 278px;
    height: 40px;
    width: 324PX;
    position: relative;
    display: block;
    color: white;
    font-size: 20px;
    padding-top: 11px;
    font-style: italic;
    letter-spacing: .4em;
    text-shadow: 0 2px 4px black;
}
.triangle {
    float: left;
    ANIMATION: fadein 2800ms ease-out;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    MARGIN: -40PX 324PX 0PX;
    border-style: solid;
    border-width: 40px 0 0 55px;
    border-color: rgba(202, 215, 225, 0) transparent transparent #213355;
}
/***nav bar***/
li.Open:before {
    content: "Open";
    position: absolute;
    right: 8px;
    font-size: 11px;
    color: #10c310;
    text-transform: uppercase;
    margin-top: -2px;
    line-height: 29px;
    letter-spacing: .8px;
}
li.closed:before {
    content: "taken";
    position: absolute;
    right: 8px;
    font-size: 11px;
    color: #fd3535;
    text-transform: uppercase;
    margin-top: -2px;
    line-height: 29px;
    letter-spacing: .8px;
}
ul.articles.dropdown-menu {
    position: absolute;
    max-height: 300px;
    width: 300px;
}
.dropdown-menu>li>a {
    padding: 1px 20px; TEXT-TRANSFORM:UPPERCASE;
}
