/****scorelist***/
.yui3-scorestrip-tile:before{
content:"SCORES";
}
.scorelist img {
  width: 63px;
    height: 44px;
    display: block;
    float: left;
    padding: 4px;
}

.scorelist {  display: block;
    list-style: none;
    height: 87px;
    overflow: hidden;
    BACKGROUND-COLOR: rgba(255, 255, 255, 0);
    margin: 0 auto;
    width: 112px;
    top: 82px;
    right: 2px;
    z-index: 99;
    position: fixed;
}

.yui3-scorestrip-tile-visitor-wins .yui3-scorestrip-tile-visitor, .yui3-scorestrip-tile-home-wins .yui3-scorestrip-tile-home {   position: absolute;
    width: 30px;
    height: 20px;
    top: 56px;
    left: 56px;
    font-size: 15px;
    color: white;
    text-align: center;
}
.yui3-scorestrip-tile-bigplay .yui3-scorestrip-tile-content, .yui3-scorestrip-tile-bigplay .yui3-scorestrip-tile-alert-box, .yui3-scorestrip-tile-content:hover, .yui3-scorestrip-tile-content:hover > span {
     background: none repeat scroll 0 0 rgba(0, 0, 0, 0.32) !important;
    color: #ffffff !important;
    text-decoration: none;
    height: 55px;
}
span.yui3-scorestrip-tile-vts.yui3-scorestrip-tile-visitor.yui3-scorestrip-tile-score {     position: absolute;
    position: absolute;
    width: 30px;
    font-size: 15px;
    height: 20px;
    top: 15px;
    left: 56px;
    color: white;
    text-align: center;
}
li#game- {
    height: 85px;
}
.yui3-scorestrip-tile-big-play a, .yui3-scorestrip-tile-home {        top: 29px;
    width: 21px;
    left: 86px;
    height: 25px;
}
.scorelist:before {
    content: "SCORES";
    COLOR: WHITE;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    background: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png),linear-gradient( #6f2020, #b92222 ), url();
    border-bottom: 2px solid #777;
    background-size: 7px, 100%,100%;
    background-position: 0 0,0 0, 0px 278px;
    position: absolute;
    top: 85px;
    float: left;
    left: -4px;
    width: 85px;
    font-size: 18px;
    z-index: 1;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    padding-left: 17px;
    letter-spacing: 2px;
    padding-top: 4px;
}
.yui3-scorestrip-tile-score {
    right: 1px;
    text-align: right;
}
.yui3-scorestrip-tile-index-0 {
      width: 136px;
}
.yui3-scorestrip-tile {   
    cursor: pointer;
    display: inline;
    float: left; background: black;
    height: 87px;
    overflow: hidden;
    position: relative;
    text-align: left;
    font-size: 16px;
    top: -2px;
    text-transform: uppercase;
}
a.yui3-scorestrip-tile-content {    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
    color: #ffffff;
    height: 87px;
    width: 94px;
    padding: 1px;
    left: 16px;
    position: absolute;
    text-decoration: none;
    line-height: 43px;
}
/***video background in intro section***/
.video {
  padding-top: 56.25%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}
.video__container {
  width: 100%;
  height: 456px;
  background: white;
  position: relative;
  overflow: hidden;
  margin-top: 0px;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(black));
}
.video__overlay {    background: url(http://www.easports.com/madden-nfl/connected-franchise/bundles/maddenccm/images/carbon-fine.png) 0px 0px / 7px, linear-gradient(rgb(0, 0, 0), rgb(48, 84, 151)) 0px 0px / 100%, url() 0px 278px / 100%;
    background-position: 0px 0px, 0px 0px, 0px 278px;
    opacity: .85;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/***sections****/
.section{
  width: 100%;     background: rgba(51, 51, 51, 0.31);
  height: 100%;
  margin: 15px 0;
  color: #FFF;
  text-align: center;
  line-height: 300px;
  transition: all .65s;
  opacity: 0;     margin-top: 0px;
}

.section-1{ }
.section-2{    float: left;width: 50%;}
.section-3{   float: left;width: 50%;}
.section-4{    float: left;width: 75%;}
.section-5{   float: left;width: 25%;}

.active,
.section:first-child{
  opacity: 1;
}

/***intro section***/
.basic-brackets {
    position: relative;
    height: 46px;
    width: 500px;
    margin: 45px auto 0;
}
.basic-brackets:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
    border-left: 5px solid #aaa;
    border-top: 5px solid #ccc;
    border-bottom: 5px solid #ccc;
  padding: 0px 15px;
}
.basic-brackets:after {
  content: " ";
  padding: 0px 15px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
    border-right: 5px solid #ccc;
    border-top: 5px solid #ccc;
    border-bottom: 5px solid #ccc;
}
.basic-brackets h1, .basic-brackets h2, .basic-brackets h3, .basic-brackets h4, .basic-brackets h5, .basic-brackets h6, .basic-brackets p, .basic-brackets ul, .basic-brackets li, .basic-brackets a {
    padding: 0px 0px;
    top: -128px;
    position: relative;
    text-transform: uppercase;
    color: #ef6161;
}

.brackets-using-mixin {
  height: 150px;
  width: 320px;
  margin: 50px auto 0;
  position: relative;
}
.brackets-using-mixin:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-left: 20px solid salmon;
  border-top: 20px solid salmon;
  border-bottom: 20px solid salmon;
  padding: 0px 10px;
}
.brackets-using-mixin:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-right: 20px solid salmon;
  border-top: 20px solid salmon;
  border-bottom: 20px solid salmon;
  padding: 0px 10px;
}
.brackets-using-mixin h1, .brackets-using-mixin h2, .brackets-using-mixin h3, .brackets-using-mixin h4, .brackets-using-mixin h5, .brackets-using-mixin h6, .brackets-using-mixin p, .brackets-using-mixin ul, .brackets-using-mixin li, .brackets-using-mixin a {
  padding: 20px 60px;
}
.brackets-using-mixin p {
  font-size: 28px;
  font-family: Arial;
  padding-top: 45px;
}

span.top.text {
    POSITION: ABSOLUTE;
    WIDTH: 100%;
    FONT-SIZE: 129PX;
    LEFT: 0PX;    font-style: italic;
    TOP: 25PX;
    TEXT-SHADOW: 0 4PX 7PX BLACK;
}
span.small.text {    POSITION: ABSOLUTE;
    WIDTH: 100%;
    FONT-SIZE: 28PX;
    LEFT: 0PX;
    TOP: 100PX;
    color: white;
    TEXT-SHADOW: 0 4PX 7PX BLACK;
    letter-spacing: .2em;
}

/***set up***/
div#header {
    max-width: 1200PX;
    width: 100%; background: black;
    min-height: 161px;
    TOP: -52PX;
    height: none;
}
body {
    font-family: DLSansCondMedium;
    background-image: url();
    background-repeat: repeat;
    background-attachment: fixed;
    font-size: 18px;
    background-position: center top;
    background-color: #000000;
}
.container {
    background: black;
}
.content {
    WIDTH: 100%;
    HEIGHT: 100%;
    z-index: 0;
    top: -59px;
    position: relative;
}
