
body {        font-family: DLSansCondMedium; background-image: url();
    background-repeat: repeat;
    background-attachment: fixed; font-size: 18px;
    background-position: center top;
    background-color: #ffffff;
}
.yui3-scorestrip-tile-visitor {
    top: 0px;
}
.yui3-scorestrip-tile {       border-right: 1px solid #fff;
    cursor: pointer;
    display: inline;
    float: left;
    height: 46px;
    overflow: hidden;
    position: relative;
    text-align: left;
    font-size: 16px;
    top: 3px;
    text-transform: uppercase;
}
.gameoftheweek .cfm-table tr td .score {
    color: #000;
    font-size: 50px;
    line-height: 200%;
}
.cfm-table {
    color: #000;
    font-size: 19px;
    width: 100%;
}
.gameoftheweek {
    background: rgba(0, 0, 0, 0) url(.);
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 420px) 

/*responsive layout*/ 

.img
{
max-width:100%;
}
.footer {
    padding-bottom: .5%;
    padding-top: 2.1%;
    text-align: center;
    MAX-WIDTH: 937PX;
    WIDTH: 100%;
    MIN-HEIGHT: 100PX;
    HEIGHT: 100%;
}
.content {
    MAX-WIDTH: 937PX;
    WIDTH: 100%;
    HEIGHT: 100%;
} 
ins#aswift_2_expand{
    display: none;
}
.row {
    MAX-WIDTH: 937PX;
    WIDTH: 103%;
    HEIGHT: 100%;
}
/* start of desktop styles */

@media screen and (max-width: 991px) {
     /* start of large tablet styles */
}

@media screen and (max-width: 767px) {
     /* start of medium tablet styles */
}

@media screen and (max-width: 479px) {
     /* start of phone styles */
.cfm-player-wrapper .panel .col-xs-6 {
    width: 50%;
}
.cfm-player-wrapper .panel .pull-right {
    float: left! important;
    font-size: 20px;
    position: absolute;
    width: 100%;
    text-align: right;
    max-width: 100px;
    right: 14px;
}
.gameoftheweek .cfm-table tr td .score {
    font-size: 3.5em;
}
.cfm-table {
    font-size: 28px;
}
#menu li a {
  position:relative;
  left:0; font-size: 1.2em;
}
.scorelist {
    clear: both;
    margin: 0;
    display: table;
    padding: 0;
    width: 100%;
    top: 16px;
    position: relative;
    background-color: white;
    z-index: 100;
    left: 1%;
    padding-bottom: 13px;
}

table.data-table1 .thd1 td, table.data-table1 .thd1 th {
    font-size: 25px;
}
.data-table1 th, table.data-table1 td {
    font-size: 20px;
}
#menu-toggle {    max-width: 962px;     
    position: fixed;
    width: 100%; max-width: 1177px;
    left: 0;
    HEIGHT: 146PX;
}

.yui3-scorestrip-tile-visitor {
    top: 15px;
}
.yui3-scorestrip-tile-big-play a, .yui3-scorestrip-tile-home {
    top: 45%;
}
.yui3-scorestrip-tile-index-0 {
    width: 12%;
    font-size: 25px;
    padding: 5%;
}

.panel-dl-stats .data-table1 td, .panel-dl-stats .data-table1 th {
    font-size: 20px;
}
.panel-dl-main .panel-body {
    overflow: hidden;
}
.pow-team-logo {
    width: 100%;
    margin: -178px 0px 0;
    float: right;
    height: 294px;
}
.playeroftheweek-name, .playeroftheweek-name a {
    font-size: 21px; text-align: center; margin-bottom: 5%;
}
.cfm-player-bio {
    color: #fff;
    left: -31px;
    position: relative;
}
.panel-player .text .stat-value {
    color: #020202;
    letter-spacing: 0;
    font-size: 26px;
    text-align: center;
    margin: -25% 13%;
    position: absolute;
}
.pow-player-logo {
    width: 100%!important;
    position: relative;
    height: 203px!important;
    margin-top: 0%;
    top: -83px;
}
.playoff-img img {
    width: 100px;
    height: 100px;
    top: -32px;
    position: relative;
    left: -17px;
    padding-bottom: 2px;
    overflow: hidden;
}
.playoff-img {
    width:60%;
    height: 30px;
    text-align: center;
    overflow: hidden;
}
table.data-table1 .tbdy1 td {
    font-size: 25px;     padding: 3px 3px;
}
.col-xs-6 {
    width: 100%;
}
.col-xs-10 {
    width: 100%;
}
body {
font-size: 30px;
}
.col-xs-3 {
    width: 100%; 
}
h6, .h6 {
    font-size: 25px;
}
/*team page*/
.cfm-player-attributes-item {
    background: #fff;
    margin: 0 0 10px 10px;
    border: 1px solid #adadad;
    width: 23%;
    height: 68px;
    float: left;
}
.teamprofileright {
    width: 50%;
    float: left;
}
#team-main-nav {
    height: 60px;
}
.cfm-player-profile {
    width: 100%;
    height: 200px;
    background-color: #001532;
}
.cfm-team-logo img {
    height: 299px;
    margin: auto;
    position: relative;
}
.cfm-player-team, .cfm-team-logo {
    width: 295px;
    float: left;
    margin-top: -55px;
}
/*search player*/
legend {
    font-size: 40px;
}
.form-control {
    width:100%;
    height: 52px; color:black;
    font-size: 30px;
}
.players-add-filter-select button {
    width: 332px;
    height: 50px;
    font-size: 30px;
}
.btn {
    font-size: 30px;
}
/*admin*/
#admin-main-nav .nav>li>a {
    display: block;
    font-size: 25px;
}
/*player profile*/
.cfm-player-info {
    width: 62%;
    left: 45px;
    top: -16px;
    position: relative;
    float: left;
    height: 106px;
    font-size: 25px;
    overflow: hidden;
}
.cfm-player-profile {
    width: 100%;
    height: 175px; overflow:hidden;
}
.cfm-player-team img {
    height: 330px;
}
.cfm-player-attributes-item-header {
    font-size: 30px;
    padding-top: 8px;
}
.cfm-player-attributes-item-level {
    font-size: 30px;
}
.cfm-player-img {
    height: 22px;
    float: left;
    margin-left: -247px;
    margin-top: -20px;
    position: relative;

}
h1.cfm-player-name {
    color: #fff;
    position: relative;
    left: 77px;
    width: 85%;
    top: -12px;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 48px;
}
.cfm-player-wrapper #player-profile-tabs {
    margin-bottom: 20px!important;
    font-size: 23px;
}
.cfm-player-wrapper .panel-heading .salary-info {
    margin-left: -3px;
    font-size: 20px;
    top: -15px;
    position: relative;
}
h1.cfm-player-name span.pull-right {
    top: 3px;
    left: 625px;
}
#player-profile-tabs {
    height: 53px;
}
.pull-right {
    float: left! important;
    font-size: 20px;
    position: absolute;
    top: 199px;
    left: 28px;
}
.cfm-player-img img {
    width: 400px;
    height: 400px;
    margin: -115px -124px;
}
/*schedules*/
.scheduleweek .week {
    float: left;
    height: 20px;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: 20% 265%;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: 20% 265%;
    transform: rotate(-90deg);
    transform-origin: 20% 265%;
    top: 56px;
    left: -11px;
    position: relative;
    width: 154px;
    background: #f6f6f6 none repeat scroll 0 0;
    color: #414141;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border: 1px solid #ccc;
}
.scheduleweek .hometeam .record {
    margin: -52px 242px;
    color: #2b4069;
    width: 21%;
    font-size: 18px;
    position: absolute;
}
.scheduleweek .at {
    padding: 42px 26px 0;
}
.scheduleweek {
    height: 150px;
    width: 100%;
}
.teamlogo {
    overflow: hidden;
    width: 100%;
    height: 148px;
}
.scheduleweek .teamlogo img {
    height: 130%;
    width: 80%;
    position: relative;
    top: -43px;
}
.scheduleweek .awayteam .name {
    margin-left: 90px;
    margin-top: -30px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    color: #2b4069;
}
.scheduleweek .hometeam {
    right: -21px;
    margin-top: -207px;
    width: 300px;
    position: absolute;
}
.scheduleweek .hometeam .name {
    margin: -30px 0 0 111px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    color: #2b4069;
}
.scheduleweek .awayteam .record {
    margin-left: 14px;
    color: #2b4069;
    font-size: 16px;
    top: -46px;
    position: relative;
}

/*compare players*/
#searchOverlay {
    left: 10px;
}
#playerSearchContainer {
    margin-left: 220%;
    top: 800px;
}
.pinto th {    width: 25%;
    max-width: 250px;
    background: url() repeat-x scroll 0 0 rgb(43, 64, 105);
}
table.pinto {
    font-size: 20px;
    width: 100%;
}
.col-lg-4.col-sm-4.col-md-4.col-xs-4 {
    width: 50%;
}
.panel-title {
    font-size: 25px;
}
.col-lg-4.col-sm-4.col-md-4.col-xs-4 img {
    width: 100%;
    height: 100%;
}
/*records*/
.col-xs-4 {
    width: 100%;
}
.panel-dd h4.list-group-item-heading {
    font-size: 35px;
}
span.dd-market-price {
    margin-top: -44px;
}
h4, .h4 {
    font-size: 40px;
}
/*teampage*/
td.tbdy-sorted.team-logo-container img {
    width: 87%;
}
h5, .h5 {
    font-size: 30px;
}
.teamimage-left, .teamimage-right {
    height: 160px;
    width: 131px;
}
#teamspage-wrapper h4 {
    font-size: 25px;
    line-height: 30px;
}
#teamspage-wrapper {
    width: 100%;
}
}


/*other*/
.data-table1 th, table.data-table1 td {
    font-size: 15px;
}
div#header {
    max-width: 937px;
    width: 100%;
    min-height: 146px;
    height: 100%;
}


div#leaguefooters img {
    position: relative;
    left: -1%;
}
/* MENU TOGGLE STYLES */
img.menu {
   width: 14%;
    margin-top: -4px;
    padding-left: 4px;
}
#menu > .parent.open > ul > .parent.open > ul {
    left: 0;
    TOP: 52PX;
}
#menu-toggle {       position: fixed;
    width: 100%;
    max-width: 962px;
    HEIGHT: 146px;
    background: url(http://i1178.photobucket.com/albums/x364/garza21lions/heavy%20%20hitters/dl-logo_zpskk5nr6hx.png),url(http://i1178.photobucket.com/albums/x364/garza21lions/Heavy%20Hitters/bg_zpslp9oqlhq.png) no-repeat top center;
    background-size: 18%,100%;
    background-position: 50% 0%,0px 0px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #2b4069;
    color: #444444;
    z-index: 102;
}

#menu-toggle.open {
  left:400px;
}

#menu-icon {       height: 35px;
    position: absolute;
    left: 10px;    width: 4%;
    top: 33%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    background-color: #2b4069;
    box-shadow: 0px 2px 23px white;
    padding: 1%;
    border-radius: 5%;
    border-top: 1px solid #4e6a9f;
    border-bottom: 1px solid #3a4c6f;
    border-left: 1px solid #0f1725;
    border-right: 1px solid #1a3569;
}

#menu-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #ffffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menu-icon span:nth-child(even) {
  left: 50%;
}

#menu-icon span:nth-child(odd) {
  left:0px;
}

#menu-icon span:nth-child(1), #menu-icon span:nth-child(2) {
  top: 5px;
}

#menu-icon span:nth-child(3), #menu-icon span:nth-child(4) {
  top: 15px;
}

#menu-icon span:nth-child(5), #menu-icon span:nth-child(6) {
  top: 25px;
}

#menu-icon.open span:nth-child(1),#menu-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-icon.open span:nth-child(2),#menu-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-icon.open span:nth-child(1) {
  left: 5px;
  top: 8px;
}

#menu-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 8px;
}

#menu-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#menu-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#menu-icon.open span:nth-child(5) {
  left: 5px;
  top: 21px;
}

#menu-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 21px;
}

/* MENU STYLES */
ul#menu, #menu ul {
  list-style-type:none;
  padding:0;
  margin:0;
}

#menu {    background-image: linear-gradient( #2b4069, #2b4069 );
    width: 400px;
    position: fixed;
    top: 8%;
    bottom: 0;
    left: -400px;
    z-index: 101;
}

#menu li{
  position:relative;
  opacity:1;
  left:0;   top: 12px;
}

#menu li.disabled {
  opacity:0;
  left:-400px;
}

#menu li a {
  position:relative;
  left:0;
}

#menu.open {
  left:0; top:52px; Z-INDEX: 200PX;
}

#menu a {    display: block;
    padding: 0px;
    text-decoration: none;
    background: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    FONT-FAMILY: DLSansCondMedium,sans-serif;
    FONT-SIZE: 1.75em;
    TEXT-ALIGN: RIGHT;
    MARGIN-RIGHT: 11%;
}

#menu a:hover {
  color:white;
}

#menu > .parent > ul {    position: fixed;
    top: 51px;
    bottom: 0;
    left: -400px;
    width: 400px;
    background-image: linear-gradient( #1c2944, #0d1421 );
}

#menu > .parent > ul > .parent > ul {
  position:fixed;
  top:0;
  bottom:0;
  left:-400px;
  width:310px;
  background:#444444;
}

#menu > .parent.open > ul {
  left:0;
}

#menu > .parent.open > ul > .parent.open > ul {
  left:0;
}

.submenu-toggle {
  position:absolute;
  z-index:1;
  right:0px;
  top:0px;
  cursor:pointer;
  width:45px;
  height:45px;
  text-indent:-5000px;
  overflow:hidden;
}

.submenu-toggle.open {
  background:rgba(255,255,255,.1);
  height:100%;
  z-index:5000;
  top:0;
}

.submenu-toggle:before,.submenu-toggle:after {
  -webkit-transition:.5s ease-in-out;
}

.submenu-toggle:before {
  content:'';
  display:block;
  position:absolute;
  height:16px;
  width:16px;
  top:12px;
  right:15px;
  border-top:5px solid #929292;
  border-right:5px solid #929292;
  -webkit-transform:rotate(45deg);
}

.submenu-toggle:after {
  content:'';
  display:block;
  position:absolute;
  height:16px;
  width:16px;
  top:12px;
  left:50px;
  border-top:5px solid #929292;
  border-right:5px solid #929292;
  -webkit-transform:rotate(-135deg);
}

.submenu-toggle:hover:before, .submenu-toggle:hover:after {
  border-color:white;
}

.submenu-toggle.open:before {
  right:23px;
}

.submenu-toggle.open:after {
  left:23px;
}

#menu-overlay {
  position:fixed;
  width:100%;
  background:red;
  top:55px;
  bottom:0;
  left:0;
  z-index:-1;
  background:rgba(255,255,255,.0);
}

#menu-overlay.open {
      z-index: 101;
    background: rgba(255,255,255,.9);
}


div#daddyleagues-menu {
    display: none;
}


/*rest of layout*/


/*league font*/
.yui3-scorestrip-tile-bigplay .yui3-scorestrip-tile-alert-box, .yui3-scorestrip-tile-bigplay .yui3-scorestrip-tile-content, .yui3-scorestrip-tile-content:hover, .yui3-scorestrip-tile-content:hover>span  {
    background: none repeat scroll 0 0 rgba(198, 234, 253, 0)!important;
}
a.yui3-scorestrip-tile-content { background: none repeat scroll 0 0 rgba(240, 240, 240, 0);
    font-family: DLSansCondMedium;
}
.data-table1 td.tbdy1, table.data-table1 .tbdy1 td, table.data-table1 .thd2 td, .panel-dl-stats > .panel-heading, .panel-dl-main > .panel-heading, .panel-dl-main > .panel-footer {
    font-family: DLSansCondMedium;
}

.panel-dl-stats  .panel-body {
    padding: 0;
}
.panel-dl-stats {
border-color: #000000;
    border-radius: 0;
}
.panel-dl-main {
    border-color: #222;
    border-radius: 0;
}	
.panel-dl-main .panel-body {
    background: rgba(0, 0, 0, 0) url('/img/nfl/homepage/hpmainbg.png') repeat scroll 0 0;
    padding: 10px;
  font-weight:700; 
}
.panel-dl-main > .panel-heading, .panel-dl-main > .panel-footer {
    background: rgba(0, 0, 0, 0) url('/img/nfl/homepage/hpfiller.png') repeat scroll 0 0;
    border-color: #222;
    border-radius: 0;
    color: #fff;
    font-family: DLTechBold,sans-serif;
    text-shadow: 1px 1px 0 #222;
}
 .panel-dl-stats .data-table1 td, .panel-dl-stats .data-table1 th {
   font-weight:700; 
}
.panel-dl-stats  .hm-table-caption td {
    background: #000000 none repeat scroll 0 0 !important;
}
 
 
.nopad .panel-body {
    padding: 0;
}
.playoffsrace .data-table1 td, .standings .data-table1 th {
    padding: 0 4px;
}
  
.panel-body .data-table1 tbody tr:nth-child(2n+1) td {
    background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
}
.panel-body .data-table1 tbody tr:nth-child(2n) td {
    background: url('/img/nfl/homepage/hpmainbg.png') repeat scroll 0 0;
}
.panel-body .data-table1 tbody tr:hover td {
    background: rgba(200, 200, 200, 0.5) none repeat scroll 0 0;
}
.data-table1 tbody tr.thd2 td, .data-table1 tbody tr.thd2 td:hover {
    background: #ccc none repeat scroll 0 0 !important;
    color: #222 !important;
}
 


.playeroftheweek {
    margin: 0;
}
.panel-player {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    display: block;
    float: left;
    margin-bottom: 0;
    width: 50%;
}
.panel-player a {
    color: inherit;
}
.panel-player .panel-heading {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 0;
    color: #222;
    font-family: DLTechBold,sans-serif;
    padding: 5px 10px 0;
    text-align: center;
    text-shadow: 1px 1px 0 #ccc;
}
.panel-player .panel-body {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin: 0 5px 5px;
    padding: 0 5px 5px;
}
.panel-player .avatar {
    background: rgba(0, 0, 0, 0) url("http://i.imgur.com/cp2BfmB.jpg") repeat scroll 0 0;
    border-radius: 5px;
    height: 203px;
    position: relative;
    width: 203px;
}
.panel-player .avatar img {
    background-image: -moz-linear-gradient(center bottom , rgba(35, 35, 35, 0.5) 0%, rgba(153, 153, 153, 0) 80%);
    border-radius: 5px;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 6;
}
.panel-player .avatar img.teamLogo {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    opacity: 0.2;
}
.panel-player .playeroftheweek-name {
    color: #222;
    font-family: DLTechBold,sans-serif;
}
.panel-player .text .stat-value {
    font-family: DLSansCondMedium,sans-serif;
    letter-spacing: 0;
    margin-bottom: 0;
}
.panel-player .text {
    padding: 0 10px;
}

